* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(48, 48, 48);
}
